.app{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100vmax; 
   
}
@media  (max-width: 1320px) {
    
  
    .widgets_list{
      display: none;
    }  
  }
  @media screen and (max-width: 960px) {
    .SidebarOption h2,.logout1 button{
      display: none;
    }
   
    
    
  }
  