.SidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
   
}
.notification_count{
    background-color: #50b7f5;
    color: white;
    padding: 3px 4px;
    border-radius: 30px;
    position: absolute;
    left: 30px;
    top:158px;
}

.SidebarOption > .MuiSvgIcon-root{
    padding: 15px; 
    font-size: 25px!important;
}
.SidebarOption >h2{
   
    font-size: 18px;
    margin-right: 30px;
    margin-left: 10px;
}
.SidebarOption:hover {
    border-radius: 30px;
    background-color: #e8f5fe;
    color: #50b7f5; 
    width: fit-content;
  
}

.tweet {
   width: 100%;
    padding:15px;
    background-color:  #50b7f5;
    color:white;
    border:none;
    border-radius: 30px;
    font-weight: 900;
    margin-top: 5px;
}
.sidebar--active{
    color:#50b7f5;
}