.sidebar{
   
   
   width: 15vw;
  
    
   
   
    box-sizing: border-box;
   
}
.sidebar1{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    position: fixed;
   width: inherit;
    height: 100vmax;
    border-right: 1px solid #e6ecf0;
}
.logout1{
    display: flex;
    position: absolute;
    color: black;
    font-size: 18px;
    font-weight: 600;
    bottom: 40px;
    width: 95%;
    margin-left: -50px;
    padding:20px;
    border:none;
    outline: none;
    background-color:white;
    cursor: pointer;
}
.logout{
    font-size: 18px;
    font-weight: 600;
   margin-left: 80px;
    border:none;
    outline: none;
    background-color: white;
    cursor: pointer;

}
.logout1:hover{
    border-radius: 30px;
    color: #50b7f5;
    background-color: #e8f5fe;
}
.logout1:hover .logout{
    color: #50b7f5;
    background-color: #e8f5fe;
}
.icon{
    position: relative;
    left: 50px;
}


.twiiterIcon{
    color:#50b7f5 ;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 30px !important;
 
}