.widgets{
    padding: 10px;
   
    border-left: 1px solid #e3e6f0;
    height: 100vmax;
    position: fixed;
  
}

.widgets_list{
    flex: 3;
   
    
}
.widgets__input{
    display: flex;
    align-items: center;
    background-color: #e3e6f0;
    padding: 10px;
    border-radius: 20px;
    width: 310px;
    margin-left: 10px;
  
   
}
.widgets__input  input{
 border: none;
 margin-left: 10px;
 background-color: #e3e6f0;
 font-size: 15px;

}
.Widgets_searchIcon
{
    color:gray;
  
}
.widgets_widgetContainer{
   
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px;
    background-color: #f5f8fa;
    border-radius: 20px;   
    height: 100%;
  
  
    width: 300px;
   
   
}

.widgets_widgetContainer::-webkit-scrollbar {
    display: none;
  }
  .centerContent{
      padding-top: 10px;
     
  }
  
.widgets_widgetContainer >h2{
    font-size: 20px;
    font-weight: 800;
    margin: 10px;
    padding-bottom: 5px;
   
}